*{
    box-sizing:border-box;
    
}
body{
    background-color: #2fc8ce;
    font-family:Arial, Helvetica, sans-serif;
}
#wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
        "header nav"
        "main main"
        "footer footer";
}   
header{
    grid-area: header;
    background: #367a8f;
    color: #8fe388;
    padding-left: 15px;
    box-shadow: 0px 5px 2px #255463;
}
h1{
    text-shadow: -3px 0px 0px #58bc82;
    font-size: 48px;
}
main{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    grid-area:main;   
    color: #367a8f;
    padding-left:1rem;
    padding-right:1rem;
}
footer{
    grid-area: footer;
    display:flex;
    justify-content: center;
    background: #367a8f;
    color: #8fe388;
    padding: 1rem;
    box-shadow: 0px -5px 2px #255463;
}
main img{
    width: 100%;
    max-width: 815px;
    height:auto;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left: auto;
    margin-right: auto;
}
#content{
    padding: 2rem;
    background: #367a8f;
    color:#8fe388;
    box-shadow: -5px 5px 2px #255463;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
    max-width: 50%;
    height:auto;
}
.section{
    background: #255463;
    border-radius: 25px;
    
}
.section p{
    padding: 1rem;
}
.section h3{
    padding-left: 1rem;
}
.section li{
    padding:1rem;
    margin-right: 1rem;
}
.section img{
    padding-left: 1rem;
    padding-right: 1rem;
    outline: 0px;
}
img{
    outline: 3px solid #255463;
    max-width: 815px;
    max-height: 458px;
    width: auto;;
    height:auto;
}
nav{  
    max-width: 100%;
    grid-area: nav;
    box-shadow: 0px 5px 2px #255463;
    background: #367a8f;
}
nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
nav ul li{
    margin:20px;
    }
a{
    color: #8fe388;
    text-decoration: none;
    transition: transform 0.1s ease-in-out, background-color 0.4s linear;
    font-size: 36px;
    padding: 10px;
}
a:hover{
    color: #367a8f;
    background-color:  #2fc8ce; 
}
a:visited{
    color: #255463;
}
a:focus{
    color: #367a8f;
    background-color:  #255463;
}
a:active{
    background-color:  #2fc8ce; 
}
h3{
    padding-top: 2rem;
    color: #2fc8ce;
    text-shadow:-1.5px -1px 0px #367a8f;
}
h2{
    text-shadow: -2.5px -.5px 0px #58bc82;
    font-size: 2.5rem;
}
footer a{
    color: #8fe388;
    text-decoration: none;
    font-size: 16px;
    max-height: 2rem;
    margin-top: .45rem;
}
footer a:hover{
    color: #255463;
}

@media screen and (max-width: 500px){
    #wrapper{
        display: grid;
        height: 100vh;
        width: 100vh;
        grid-template-rows: 1fr 1fr 5fr 1fr;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer";
    }
    #content{
        max-width: 90%;
    }
    nav ul li{
        display:flex;
        margin:5px;
    }
}
